<% content_for(:title, t('.title')) %>
<div class="flex justify-center ">
  <div class="flex flex-col w-full max-w-450px mb-30px">
    <h2 class="my-30px text-30px text-center font-bold"><%= t('.title') %></h2>
      <%= form_with model: @user, url: profile_path, method: :put do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class= "mb-20px flex flex-col w-5/6 mx-auto sm:w-full" >
          <%= f.label :name, class: "font-bold" %>
          <%= f.text_field :name, class: "input input-bordered input-warning input-sm m-0 py-0 pr-0 pl-15px" %>
        </div>
        <div class= "mb-20px flex flex-col  w-5/6 mx-auto sm:w-full" >
          <%= f.label :email, class: "font-bold" %>
          <%= f.email_field :email, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-15px" %>
        </div>
        <div class= "mb-20px flex flex-col w-5/6 mx-auto sm:w-full" >
          <%= f.label :introduction, class: "font-bold" %>
          <%= f.text_area :introduction, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-15px", style: "height:auto;", rows: 5 %>
        </div>
        <div class= "mb-20px flex flex-col w-5/6 mx-auto sm:w-full">
          <%= f.label :image, class: "font-bold" %>
          <%= f.file_field :image, class: "file-input file-input-bordered file-input-warning file-input-sm w-full max-w-xs", accept: 'image/*' %>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="flex justify-center sm:justify-end">
          <div class="bg-thin-gray hover:bg-pale-gray rounded-md mr-30px", style= "width:150px; height:38px;">
            <%= link_to t('helpers.submit.cancel'), qualifications_path, class: "flex items-center justify-center w-full h-full text-20px text-white font-bold" %>
          </div> 
          <%= f.submit t('helpers.submit.update'), class: "bg-pale-blue hover:bg-dark-blue w-full text-20px text-white font-bold rounded-md", style: "width:150px; height:38px;" %>
        </div>
      <% end %>
  </div>
</div>
