<% content_for(:title, t('.title')) %>
<div class="flex justify-center">
  <div class="w-full max-w-md mb-50px">
    <h2 class="text-3xl mt-30px mb-50px text-center font-bold"><%= t('.title') %></h2>
    <%= form_with url: password_resets_path do |f| %>
      <div class="mb-20px">
        <%= f.label :email, class: "font-bold" %>
        <%= f.text_field :email, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4" %>
      </div>
      <div class="flex justify-center">
        <%= f.submit t('.submit'), class: "bg-pale-blue hover:bg-dark-blue text-xl text-white font-bold rounded-md px-4", style: "height:38px;" %>
      </div>
    <% end %>
  </div>
</div>