<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center w-full mb-30px">
  <h2 class="text-3xl font-bold mt-30px mb-30px"><%= t('.title') %></h3>
  <div class="flex flex-col">
    <div class="flex flex-col border-2 border-gray rounded-md w-800px p-15px">
      <div class="flex flex-row w-full">
        <div class="flex flex-col">
          <!-- 教材画像 -->
          <%= image_tag @material.image_link, style: "width: 100px; max-width: 100px; height: 150px;" %>
          <!-- 教材評価 -->
          <div class="flex flex-row items-center justify-center mt-5px">
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <div class="ml-5px"><%= @average_evaluation %></div>
            <div class="ml-5px">(<%= @count_of_unique_evaluators %>)</div>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <div class="ml-15px">
            <!-- タイトル -->
            <div class="font-bold text-xl mb-5px">
              <%= truncate(@material.title, length: 28) %>
            </div>
            <!-- 発売日 -->
            <% if @material.published_date.present? %>
              <div>発売日：<%= @material.published_date %></div>
            <% else %>
              <p>発売日：不明</p>
            <% end %>
            <!-- 出版社 -->
            <div class="mb-5px">
              <% if @material.publisher.present? %>
                <div>出版社：<%= @material.publisher %></div>
              <% else %>
                <p>出版社：不明</p>
              <% end %>
            </div>
            <!-- 内容説明 -->
            <% if @material.description.present? %>
              <p class="font-bold mb-5px">【内容説明】</p>
              <div><%= @material.description %></div>
            <% end %>
            <!-- 資格 -->
            <% if @material.qualification.present? %>
              <div class="mb-10px ">
                <span class="bg-purple text-white text-xs font-semibold px-2.5 py-0.5 rounded self-start"><%= @material.qualification %></span>
              </div>
            <% end %>
            <!-- 教材特徴 -->
            <% if @unique_features.present? %>
              <div class="flex flex-row mb-10px">
                <% @unique_features.each do |feature| %>
                  <div class="y-10px bg-dark-gray text-white text-xs mr-10px font-semibold px-2.5 py-0.5 rounded">
                    <%= feature %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <!-- 楽天及びX(旧Twitter)アイコンを -->
            <%= render 'rakuten_twitter_icons' %>  
          </div>
        </div>
        <!-- 編集及び削除アイコン -->
        <%= render 'edit_delete_buttons' %>
      </div>
      <!-- ログインユーザーのコメントを表示 -->
      <% if @user_evaluation.present? %>
        <div class="border-t-2 border-gray px-20px pt-20px flex flex-row items-center mt-10px">
          <%= image_tag(current_user.image_url, class:"h-14 w-14 rounded-full") %>
          <div class="ml-20px">
            <!-- 教材評価 -->
            <div class="flex flex-row items-center mb-10px">
              <div class="font-bold mr-20px"><%= current_user.name %></div>
              <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              <div class="font-bold ml-5px"><%= @user_evaluation %></div>
            </div>
            <p><%= @user_body %></p>
          </div>
        </div>
      <% end %>
    </div>
    <% if @user_evaluation.nil? %>
      <%= render 'show_form' %>
    <% end %>

    <!-- ログインユーザー以外のコメントを全て表示 -->
    <% @other_evaluations.each do |evaluation| %>
      <div class="border-b-2 border-gray pl-40px py-20px flex flex-row items-center mt-10px">
        <%= image_tag(evaluation.user.image_url, class:"h-14 w-14 rounded-full") %>
        <div class="ml-20px">
          <!-- 教材評価 -->
          <div class="flex flex-row items-center mb-10px">
            <div class="font-bold mr-20px"><%= evaluation.user.name %></div>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <div class="font-bold ml-5px"><%= evaluation.evaluation %></div>
          </div>
          <p><%= evaluation.body %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>