<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center w-full mb-30px">
  <h2 class="text-30px font-bold mt-30px mb-30px"><%= t('.title') %></h2>
  <div class="flex flex-col">
    <div class="flex flex-col justify-center border-2 border-gray rounded-md md:max-w-800px lg:w-full  mx-10px lg:mx-auto p-10px">
      <div class="flex flex-row w-full">
        <div class="flex flex-col">
          <!-- 教材画像 -->
          <% if @material.image_link.present? %>
            <div class="w-70px sm:w-100px h-105px sm:h-150px"><%= image_tag @material.image_link %></div>
          <% else %>
            <%= image_tag 'no_image.png', class:'w-70px sm:min-w-100px h-105px sm:h-150px' %>
          <% end %>
          <!-- 教材評価 -->
          <div class="flex flex-row items-center justify-center mt-5px">
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <div class="ml-5px"><%= @average_evaluation %></div>
            <div class="ml-5px">(<%= @count_of_unique_evaluators %>)</div>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <div class="ml-10px">
            <!-- タイトル -->
            <div class="font-bold text-16px sm:text-20px mb-5px">
              <%= truncate(@material.title, length: 28) %>
            </div>
            <!-- 発売日 -->
            <% if @material.published_date.present? %>
              <div class="text-14px sm:text-16px">発売日：<%= @material.published_date %></div>
            <% else %>
              <p class="text-14px sm:text-16px">発売日：不明</p>
            <% end %>
            <!-- 出版社 -->
            <div class="mb-5px">
              <% if @material.publisher.present? %>
                <div class="text-14px sm:text-16px">出版社：<%= @material.publisher %></div>
              <% else %>
                <p class="text-14px sm:text-16px">出版社：不明</p>
              <% end %>
            </div>
            <!-- 内容説明 -->
            <% if @material.description.present? %>
              <p class="font-bold mb-5px text-14px sm:text-16px">【内容説明】</p>
              <div class="text-14px sm:text-16px"><%= @material.description %></div>
            <% end %>
            <!-- 資格 -->
            <% if @material.qualification.present? %>
              <div class="mb-10px">
                <span class="bg-purple text-white text-12px font-semibold px-2.5 py-0.5 rounded self-start"><%= @material.qualification %></span>
              </div>
            <% end %>
            <!-- 教材特徴 -->
            <% if @unique_features.present? %>
              <div class="flex flex-wrap">
                <% @unique_features.each do |feature| %>
                  <div class="y-10px bg-dark-gray text-white text-12px mr-10px mb-10px font-semibold px-2.5 py-0.5 rounded">
                    <%= feature %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <!-- 楽天及びX(旧Twitter)アイコンを -->
            <%= render 'rakuten_twitter_icons' %>  
          </div>
        </div>
        <!-- 編集及び削除アイコン -->
        <%= render 'edit_delete_buttons' %>
      </div>
      <!-- ログインユーザーのコメントを表示 -->
      <% if @user_evaluation.present? %>
        <div class="flex flex-row items-center border-t-2 border-gray px-10px sm:px-20px pt-10px mt-10px">
          <%= image_tag(current_user.image_url, class:"rounded-full w-55px min-w-55px h-55px min-h-55px") %>
          <div class="ml-20px">
            <!-- 教材評価 -->
            <div class="flex flex-row items-center mb-10px">
              <div class="font-bold mr-20px text-14px sm:text-16px"><%= current_user.name %></div>
              <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
              <div class="font-bold ml-5px"><%= @user_evaluation %></div>
            </div>
            <p class="text-14px sm:text-16px"><%= @user_body %></p>
          </div>
        </div>
      <% end %>
    </div>
    <!-- ログインユーザーのコメント入力欄を用意 -->
    <% if @user_evaluation.nil? && current_user %>
      <%= render 'show_form' %>
    <% end %>

    <!-- ログインユーザー以外のコメントを全て表示 -->
    <% @other_evaluations.each do |evaluation| %>
      <div class="border-b-2 border-gray pl-30px pr-20px py-10px flex flex-row items-center mt-10px">
        <%= image_tag(evaluation.user.image_url, class:"rounded-full w-55px min-w-55px h-55px min-h-55px") %>
        <div class="ml-20px">
          <!-- 教材評価 -->
          <div class="flex flex-row items-center mb-10px">
            <div class="font-bold mr-20px"><%= evaluation.user.name %></div>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <div class="font-bold ml-5px"><%= evaluation.evaluation %></div>
          </div>
          <p><%= evaluation.body %></p>
        </div>
      </div>  
    <% end %>
  </div>
  <% if @user_evaluation.present? || @other_evaluations.present? %>
    <div class="bg-thin-gray hover:bg-pale-gray rounded-md mt-10px w-150px", style= "height:38px;">
      <%= link_to t('material_evaluations.show.material_index'), materials_path, class: "flex items-center justify-center w-full h-full text-20px text-white font-bold" %>
    </div>
  <% end %>
</div>