<div class="min-h-screen flex justify-center">
  <div class="w-full max-w-md">
    <h3 class="text-3xl mt-50px mb-40px text-center font-bold"><%= t('.title') %></h3>
    <%= form_with model: @user, local: true do |f| %>
      <div class= "mb-20px flex flex-col" >
        <%= f.label :name, class: "font-bold" %>
        <%= f.text_field :name, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4" %>
      </div>
      <div class= "mb-20px flex flex-col" >
        <%= f.label :email, class: "font-bold" %>
        <%= f.email_field :email, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4" %>
      </div>
      <div class= "mb-20px flex flex-col" >
        <%= f.label :password, class: "font-bold" %>
        <%= f.password_field :password, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4", placeholder: "半角英数字4文字以上" %>
      </div>
      <div class= "mb-20px flex flex-col" >
        <%= f.label :password_confirmation, class: "font-bold" %>
        <%= f.password_field :password_confirmation, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4" %>
      </div>
      <div class= "mb-20px flex flex-col">
        <%= f.label :image, class: "font-bold" %>
        <%= f.file_field :image, class: "file-input file-input-bordered file-input-warning file-input-sm w-full max-w-xs", accept: 'image/*' %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="flex justify-center mb-20px">
      <%= f.submit t('helpers.submit.create'), class: "btn bg-pale-blue hover:bg-dark-blue w-full max-w-200px text-xl text-white" %>
      </div>
    <% end %>
    <div class="flex justify-center">
    <%= link_to t('.to_login_page'), login_path, class: "text-lg text-dark-green underline underline-offset-4 " %>
    </div>
    
  </div>
</div>


