<header class= "mb-72px">
  <nav class= "flex justify-between w-full items-center h-72px bg-thin-orange fixed top-0 left-0">
    <div class= "text-3xl ml-9">
      <%= link_to t('header.logo'), '/' %>
    </div>
    <div class="flex space-x-8 mr-9 items-center">
      <div class= "dropdown dropdown-hover dropdown-bottom dropdown-end">
        <label tabindex="0" class= "text-lg m-1 py-2 px-2 hover:bg-slate-200 rounded-md"><%= t('header.material') %></label>
        <ul tabindex="0" class= "dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
          <li><a href="#" class= "hover:bg-slate-200 rounded-md"><%= t('header.material_new') %></a></li>
          <li><a href="#" class=" hover:bg-slate-200 rounded-md"><%= t('header.material_index') %></a></li>
        </ul>
      </div>
      <%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete }, class:"text-lg m-1 py-2 px-2 hover:bg-slate-200 rounded-md" %>
      <div class= "dropdown dropdown-hover dropdown-bottom dropdown-end">
        <label tabindex="0">
          <%= image_tag(current_user.image_url, class:"h-14 w-14 rounded-full") %>
        </label> 
        <ul tabindex="0" class= "dropdown-content menu bg-base-100 rounded-box z-[1] w-60 p-2 shadow">
          <li><%= link_to t('header.mypage_user'), profile_user_path, class: "hover:bg-slate-200 rounded-md" %></li>
          <li><%= link_to t('header.mypage_qualification'), qualifications_path, class: "hover:bg-slate-200 rounded-md" %></li>
          <li><%= link_to t('header.mypage_material'), already_registered_materials_path, class: "hover:bg-slate-200 rounded-md" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>