<%= form_with model: @qualification, url: profile_qualifications_path, local: true, id: "qualification-form", style: "display: none;" do |f| %>
  <div class= "mb-20px pt-30px flex flex-col">
    <%= f.label :name, "資格名", class: "font-bold" %>
    <%= f.text_field :name, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4", style: "width:550px;" %>
  </div>

  <div class= "mb-20px flex flex-col" >
    <%= f.label :progress, "進捗状況", class: "font-bold" %>
    <%= f.text_field :progress, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4", style: "width:550px;" %>
  </div>

  <div class= "mb-20px flex flex-col" >
    <%= f.label :year_acquired, "取得年", class: "font-bold" %>
    <%= f.text_field :year_acquired, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4", style: "width:550px;" %>
  </div>
  
  <div class="flex justify-center item-center">
    <%= link_to t('helpers.submit.cancel'), "#", class: "btn bg-pale-gray hover:bg-dark-gray w-full max-w-200px text-xl text-white", id: "cancel-button", style: "display: none;"  %>
  </div> 
  <div class="flex justify-center mb-30px">
    <%= f.submit t('helpers.submit.create'), class: "btn bg-pale-blue hover:bg-dark-blue w-full max-w-200px text-xl text-white" %>
  </div>
<% end %>