<div class="mt-5px border-2 border-gray rounded-md" style="width: 600px;">
  <div class="p-30px">
    <%= form_with model: @material, local: true do |f| %>
      <!-- Materialの隠しフィールド -->
      <%= f.hidden_field :title, value: @material.title %>
      <%= f.hidden_field :image_link, value: @material.image_link %>
      <%= f.hidden_field :published_date, value: @material.published_date %>
      <%= f.hidden_field :info_link, value: @material.info_link %>
      <%= f.hidden_field :systemid, value: @material.systemid %>

      <%= f.fields_for :material_evaluations, @material_evaluations do |evaluation_f| %>
        <%= render 'shared/error_messages', object: evaluation_f.object %>
        <div class="flex flex-row">
          <%= image_tag @material.image_link, style: "width: 100px; height: 150px; max-width: 100px;" %>
          <!-- MaterialEvaluationの入力フォーム -->
          <div class="ml-15px">      
            <div class= "mb-20px">
              <p class="font-bold">教材名</p>
              <%= @material.title %>
            </div>
            <!-- 教材評価 -->
            <div class= "mb-20px flex flex-col">
              <%= evaluation_f.label :evaluation, class: "font-bold" %>
              <%= evaluation_f.select :evaluation, options_for_select((0..10).map { |i| [sprintf('%.1f', i * 0.5), sprintf('%.1f', i * 0.5)] }, evaluation_f.object.evaluation),
              {include_blank: true},class: "select select-warning select-sm w-full m-0 py-0 pr-0 pl-4", style: "width:200px;" %>
            </div>
            <!-- 教材特徴 -->
            <div class= "mb-20px">
              <%= evaluation_f.label :feature, class: "font-bold" %>
              <div class= "flex flex-row flex-wrap">
                <% experience_levels.each_with_index do |level, index| %>
                  <div class= "mr-20px flex flex-row items-center">
                    <%= evaluation_f.check_box :feature, { multiple: true }, level, evaluation_f.object.feature.include?(level) %>
                    <%= evaluation_f.label :feature, level, value: level %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- Commentの入力フォーム -->
            <%= evaluation_f.fields_for :comments do |comment_f| %>
              <%= render 'shared/error_messages', object: comment_f.object %>
              <div class= "mb-20px flex flex-col">
                <%= comment_f.label :body, class: "font-bold" %>
                <%= comment_f.text_area :body, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4", style: "height:auto;", rows: 3 %>
              </div>
            <% end %>     
          </div>
        </div>   
      <% end %>
      
      <!-- ボタン -->
      <div class="flex justify-end">
        <div class="flex justify-center item-center mr-30px">
          <%= link_to t('helpers.submit.cancel'), already_registered_materials_path, class: "btn bg-thin-gray hover:bg-pale-gray w-full text-xl text-white", style: "width:150px;" %>
        </div> 
        <div class="flex justify-center item-center"><%= f.submit nil, class: "btn bg-pale-blue hover:bg-dark-blue w-full text-xl text-white", style: "width:150px;" %></div>
      </div>
    <% end %>
  </div>     
</div>
