<div class="border-2 border-gray rounded-md ">
  <div class="p-10px">
    <%= form_with model: @material, local: true do |f| %>
      <%= f.fields_for :material_evaluations, @material_evaluation do |evaluation_f| %>
        <%= render 'shared/error_messages', object: evaluation_f.object %>
          <!-- Materialの隠しフィールド -->
          <%= f.hidden_field :title, value: @material.title %>
          <%= f.hidden_field :image_link, value: @material.image_link %>
          <%= f.hidden_field :published_date, value: @material.published_date %>
          <%= f.hidden_field :info_link, value: @material.info_link %>
          <%= f.hidden_field :systemid, value: @material.systemid %>
          <%= f.hidden_field :publisher, value: @material.publisher %>
          <%= f.hidden_field :description, value: @material.description %>
          <div class="flex flex-row">
            <% if @material.image_link.present? %>
              <div class="min-w-100px h-150px"><%= image_tag @material.image_link %></div>
            <% else %>
              <%= image_tag 'no_image.png', class:'min-w-100px h-150px' %>
            <% end %>
            <div class="flex flex-col ml-10px">
              <div class= "mb-20px">
                <p class="font-bold">教材名</p>
                <%= @material.title %>
              </div>
              <!-- 対象資格 -->
              <div class= "flex flex-col mb-20px">
                <%= f.label :qualification, class: "font-bold" %>
                <%= f.select :qualification, options_for_select(@qualifications || []), { include_blank: true } ,class: "select select-warning select-sm w-full m-0 py-0 pr-0 pl-4" %>
              </div>
              <!-- MaterialEvaluationの入力フォーム -->
              <!-- 教材特徴 -->
              <div class= "mb-20px">
                <%= evaluation_f.label :feature, class: "font-bold" %>
                <div class= "flex flex-row flex-wrap">
                  <!-- featureをカンマで分割して配列に変換 -->
                  <% features_array = evaluation_f.object.feature.present? ? evaluation_f.object.feature.split(',') : [] %>
                  <% experience_levels.each do |level| %>
                    <div class= "mr-20px flex flex-row items-center">
                      <%= evaluation_f.check_box :feature, { multiple: true, checked: features_array.include?(level) }, level, nil %>
                      <%= evaluation_f.label :feature, level, value: level %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!-- 教材評価 -->
              <div class= "mb-20px flex flex-col">
                <%= evaluation_f.label :evaluation, class: "font-bold" %>
                <%= evaluation_f.select :evaluation, options_for_select((0..10).map { |i| [sprintf('%.1f', i * 0.5), sprintf('%.1f', i * 0.5)] }, evaluation_f.object.evaluation),
                {include_blank: true}, class: "select select-warning select-sm w-full m-0 py-0 pr-0 pl-4", style: "width:200px;" %>
              </div>
              <!-- 教材評価コメント -->
              <div class= "mb-20px flex flex-col">
                <%= evaluation_f.label :body, class: "font-bold" %>
                <%= evaluation_f.text_area :body, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4", style: "height:auto;", rows: 3 %>
              </div> 
            </div>
          </div>
      <% end %>
      <!-- ボタン -->
      <div class="flex justify-end">
        <div class="bg-thin-gray hover:bg-pale-gray rounded-md mr-30px", style= "width:150px; height:38px;">
          <%= link_to t('helpers.submit.cancel'), 
          params[:action] == 'edit' ? already_registered_materials_path : search_materials_path,
          class: "flex items-center justify-center w-full h-full text-20px text-white font-bold" %>
        </div>
        <%= f.submit nil, class: "bg-pale-blue hover:bg-dark-blue w-full text-20px text-white font-bold rounded-md", style: "width:150px; height:38px;" %></div>
      </div>
    <% end %>      
  </div>     
</div>