<% @materials.each_with_index do |material, index| %>
  <% material_with_details = @materials_with_details[index] %>
  <div class="flex flex-row border-2 border-gray rounded-md w-full max-w-600px p-15px">
    <div class="flex flex-row w-full">
      <div class="flex flex-col">
        <%= image_tag material.image_link, style: "width: 100px; max-width: 100px; height: 150px;" %>
        <!-- 教材評価 -->
        <div class="mt-5px flex flex-row items-center justify-center">
          <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
          <div class="ml-5px"><%= material_with_details[:average_evaluation] %></div>
          <div class="ml-5px">(<%= material_with_details[:count_of_unique_evaluators] %>)</div>
        </div>
      </div>
      <div class="flex flex-col w-full ml-15px">
        <!-- タイトル -->
        <div class="text-20px text-darkest-blue font-bold hover:text-pale-gray mb-5px underline underline-offset-4">
          <%= link_to truncate(material.title, length: 20), material_material_evaluation_path(material, material.material_evaluations.first) %>
        </div>
        <!-- 発売日 -->
        <% if material.published_date.present? %>
          <div>発売日：<%= material.published_date %></div>
        <% else %>
          <p>発売日：不明</p>
          <% end %>
        <!-- 出版社 -->
        <div class="mb-5px">
          <% if material.publisher.present? %>
            <div>出版社：<%= material.publisher %></div>
          <% else %>
            <p>出版社：不明</p>
          <% end %>
        </div>
        <!-- 内容説明 -->
        <% if material.description.present? %>
          <button class="flex justify-start text-darkest-blue underline hover:text-pale-gray mb-10px" onclick="document.getElementById('modal_<%= index %>').showModal()">【内容説明】</button>
          <dialog id="modal_<%= index %>" class="modal modal-bottom sm:modal-middle">
            <div class="modal-box w-7xl">
              <h3 class="text-18px font-bold">【内容説明】</h3>
              <div><%= material.description %></div>
              <div class="modal-action">
                <form method="dialog">
                  <!-- if there is a button in form, it will close the modal -->
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
          </dialog>
        <% end %>
        <!-- 資格 -->
        <% if material.qualification.present? %>
          <span class="bg-purple text-white text-12px font-semibold px-2.5 py-0.5 rounded self-start mb-10px"><%= material.qualification %></span>
        <% end %>
        <!-- 教材特徴 -->
        <% if material_with_details[:unique_features].present? %>
          <div class="mb-10px flex flex-wrap gap-2">
            <% material_with_details[:unique_features].each do |feature| %>
              <span class="bg-dark-gray text-white text-12px font-semibold px-2.5 py-0.5 rounded"><%= feature %></span>
            <% end %>
          </div>
        <% end %>
        <div class="flex flex-row">
          <!-- コメント(ロゴ コメント数) -->
          <div class="flex flex-row items-center mr-20px">
            <i class="fa-solid fa-message"></i>
            <div class="ml-5px">(<%= material_with_details[:comments_count] %>)</div>
          </div>
          <!-- いいねアイコン -->
          <div class="flex flex-row items-center">
            <% if current_user %>
              <% if current_user.like?(material) %>
                <%= render 'unlike', material: material, material_with_details: material_with_details %>
              <% else %>
                <%= render 'like', material: material, material_with_details: material_with_details %>
              <% end %>
            <% else %>
              <div class="flex flex-row items-center">
                <i class="fa-regular fa-heart" style="color: #bcb7b7;"></i>
                <div class="ml-5px">(<%= material_with_details[:like_count] %>)</div>
              </div>
            <% end %>
          </div>
        </div>       
      </div>
      <!-- 編集及び削除アイコン -->
      <% if current_user && material.material_evaluations.exists?(user_id: current_user.id) %>
        <%= render 'edit_delete_buttons', material: material %>
      <% end %>
    </div>
  </div>
<% end %>