<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/side_bar' %>
  <div class="flex flex-col mb-30px">
    <div class="flex flex-row items-center mt-30px mb-5px">
      <h3 class="text-28px font-bold mr-50px", style="width:196px;" ><%= t('.title') %></h3>
      <!-- 「登録済み」及び「いいね」リンク -->
      <div class="flex justify-end">
        <%= link_to already_registered_materials_path, class: "min-w-75px min-h-30px bg-pale-orange font-bold mr-20px flex justify-center items-center rounded-md" do %>
          <div><%= t('.already_registered') %></div>
        <% end %>
        <%= link_to like_materials_path, class: "min-w-75px min-h-30px font-bold mr-20px flex justify-center items-center rounded-md" do %>
          <div><%= t('.like') %></div>
        <% end %>
      </div>
      <% if @materials.size >= 4 %>
        <%= link_to t('.material_addition'), search_materials_path, class: "btn bg-pale-blue hover:bg-dark-blue w-full max-w-200px text-xl text-white h-9", style: "height:36px; " %>
      <% end %>
    </div>
    <% if @materials.present? %>
      <!-- 登録済み教材を表示 -->
      <div class="flex flex-col">
        <div class="flex flex-wrap gap-4">
          <% @materials.each do |material| %>
            <div class="flex flex-row border-2 border-gray rounded-md w-600px p-15px"> 
              <div class="flex flex-row w-full">
                <%= image_tag material.image_link, style: "width: 100px; max-width: 100px; height: 150px;" %>
                <div class="flex flex-col w-full">
                  <div class="ml-15px">
                    <!-- タイトル -->
                    <div class="font-bold text-xl mb-5px"><%= truncate(material.title, length: 20) %></div>
                    <!-- 公開日 -->
                    <% if material.published_date.present? %>
                      <%= material.published_date %>
                    <% else %>
                      <p>公開日不明</p>
                    <% end %>
                    <% user_evaluations = material.material_evaluations.where(user: current_user) %>
                    <% user_evaluations.each do |evaluation| %>
                      <!-- 教材評価 -->
                      <div class="mt-5px flex flex-row items-center">
                        <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                        <div class="ml-5px"><%= evaluation.evaluation %></div>
                      </div>
                      <!-- 教材特徴 -->
                      <div class="my-10px flex flex-wrap gap-2">
                        <% evaluation.feature.each do |tag| %>
                          <% unless tag == "true" %>
                            <span class="bg-dark-gray text-white text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"><%= tag %></span>
                          <% end %>  
                        <% end %>
                      </div>
                    <% end %>
                    <!-- コメント -->
                    <% material.material_evaluations.each do |evaluation| %>
                      <% evaluation.comments.where(user: current_user).each do |comment| %>
                        <p><%= comment.body %></p>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <!-- 編集及び削除アイコン -->
                <div class="ml-auto flex flex-row justify-end mb-5px">
                  <%= link_to edit_material_path(material), class:'flex justify-center items-center bg-thin-orange hover:bg-pale-orange h-7 w-7 rounded-full mr-10px' do %>
                    <i class="fa-sharp fa-solid fa-pencil fa-lg"></i>
                  <% end %>
                  <%= link_to material_path(material), class:'flex justify-center items-center bg-pale-pink hover:bg-dark-pink h-7 w-7 rounded-full', data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="min-w-600px border-2 border-gray rounded-md p-30px">
        <div>資格が登録されていません。</div>
        <div>下記ボタンより資格を追加してください</div>
      </div>
    <% end %>
    <div class="mt-20px">
      <%= link_to t('.material_addition'), search_materials_path, class: "btn bg-pale-blue hover:bg-dark-blue w-full max-w-200px text-xl text-white" %>
    </div>
  </div>
</div>

