<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/sidebar' %>
  <div class="flex flex-col mb-30px">
    <div class="flex flex-row items-center mt-20px mb-5px">
      <h2 class="text-30px font-bold mr-50px", style="width:196px;" ><%= t('.title') %></h2>
      <!-- 「登録済み」及び「いいね」リンク -->
      <div class="flex justify-end">
        <%= link_to already_registered_materials_path, class: "min-w-75px min-h-30px bg-pale-orange font-bold mr-20px flex justify-center items-center rounded-md" do %>
          <div><%= t('.already_registered') %></div>
        <% end %>
        <%= link_to like_materials_path, class: "min-w-75px min-h-30px font-bold mr-20px flex justify-center items-center rounded-md" do %>
          <div><%= t('.like') %></div>
        <% end %>
      </div>
      <!-- 教材を登録 -->
      <div class="bg-pale-blue hover:bg-dark-blue rounded-md", style= "width:200px; height:38px;">
        <%= link_to t('.material_addition'), search_materials_path, class: "flex items-center justify-center w-full h-full text-20px text-white font-bold" %>
      </div>
    </div>
    <% if @materials.present? %>
      <!-- 登録済み教材を表示 -->
      <div class="flex flex-col">
        <div class="flex flex-wrap gap-4">
          <%= render 'already_registered' %>
        </div>
      </div>
    <% else %>
      <div class="min-w-600px border-2 border-gray rounded-md p-30px">
        <div>資格が登録されていません。</div>
        <div>下記ボタンより資格を追加してください</div>
      </div>
    <% end %>
    <%= paginate @material_evaluations %>
  </div>
</div>
