<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/sidebar' %>
  <div class="flex flex-col mb-30px">
    <div class="flex flex-row items-center mt-30px mb-5px">
      <h2 class="text-30px font-bold mr-50px"><%= t('.title') %></h2>
      <!-- 「登録済み」及び「いいね」リンク -->
      <%= link_to already_registered_materials_path, class: "min-w-75px min-h-30px font-bold mr-20px flex justify-center items-center rounded-md" do %>
        <div><%= t('.already_registered') %></div>
      <% end %>
      <%= link_to like_materials_path, class: "min-w-75px min-h-30px bg-pale-orange font-bold mr-20px flex justify-center items-center rounded-md" do %>
        <div><%= t('.like') %></div>
      <% end %>
    </div>
    <% if @materials.present? %>
      <!-- 登録済み教材を表示 -->
      <div class="flex flex-col">
        <div class="flex flex-wrap gap-4">
          <%= render 'material' %>
        </div>
      </div>
    <% else %>
      <div class="flex flex-col items-center">
        <div class="border-2 border-gray rounded-md p-30px mb-20px" style="width: 600px;">
          <div>
            <p>いいねした教材がありません</p>
            <p>下記より教材一覧画面に移動して教材を「いいね」して下さい</p>
          </div>
        </div>
        <%= link_to t('.material_index'), materials_path, class: "text-18px text-darkest-blue underline underline-offset-4" %>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @materials %>