<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/side_bar' %>
  <div class="flex flex-col" style="width: 1000px;">
    <h2 class="mt-30px text-3xl font-bold"><%= t('.title') %></h3>
    <div class="flex flex-col">
      <!-- 教材検索フォーム -->
      <div class="mt-5px border-2 border-gray rounded-md p-30px mb-20px" style="width: 1000px;">
        <%= form_with url: search_materials_path, local: true, method: :get do |f| %>
          <div class="flex flex-col w-full">
            <div class="font-bold"><%= t('.name') %></div>
            <%= f.search_field :search, class: "input input-bordered input-accent input-sm mb-20px py-0", value: params[:search] %>
            <div class="flex justify-end">
              <div class="bg-thin-gray hover:bg-pale-gray rounded-md mr-30px", style= "width:150px; height:38px;">
                <%= link_to t('helpers.submit.cancel'), already_registered_materials_path, class: "flex items-center justify-center w-full h-full text-xl text-white font-bold" %>
              </div>
              <div class="flex flex-row justify-center items-center bg-pale-green hover:bg-dark-green rounded-md cursor-pointer", style= "width:150px; height:38px;">
                <%= f.submit t('helpers.submit.search'), class: "text-xl text-white font-bold rounded-md cursor-pointer" %>
                <i class="fa-solid fa-magnifying-glass ml-2" style="color: #ffffff;"></i>
              </div>
            </div>
          </div>   
        <% end %>
      </div>
      <!-- 教材一覧ページへ -->
      <%= link_to t('.material_index'), materials_path, class: "flex justify-center text-lg text-darkest-blue hover:font-bold underline underline-offset-4" %>
    </div>
    
    <% if @google_materials.present? %>
      <div class="my-30px">
        <!-- 検索した教材情報を表示 -->
        <div class="flex flex-wrap gap-4">
          <% @google_materials['items']&.each do |google_material| %>
            <div class="flex flex-row border-2 border-gray rounded-md" style="width: 1000px; max-width: 1000px;" >
              <div class="flex flex-row m-10px">
                <div class="mr-10px"><%= image_tag google_material_thumbnail(google_material), style: "width: 100px; max-width: 100px;" %></div>
                <div class="flex flex-col">
                  <div class="mt-5px text-xl font-bold"><%= google_material['volumeInfo']['title'] %></div>
                  <div>発売日:<%= google_material['volumeInfo']['publishedDate'] %></div>
                  <% if google_material['volumeInfo']['publisher'].present? %>
                    <div>出版社:<%= google_material['volumeInfo']['publisher'] %></div>
                  <% else %>
                    <div>出版社:不明</div>
                  <% end %>
                  <% if google_material['volumeInfo']['description'].present? %>
                    <details>
                      <summary class="text-darkest-blue underline hover:font-bold">【内容説明】</summary>
                        <p><%= google_material['volumeInfo']['description'] %></p>
                    </details>
                  <% end %>
                  <!-- 選択ボタンを押したらhidden_fieldを使用してnew.html.erbに値が送信される -->
                  <%= form_with url: new_material_path, local: true, method: :get do |f| %>
                    <%= hidden_field_tag 'material[title]', google_material_params(google_material)['title'] %>
                    <%= hidden_field_tag 'material[published_date]', google_material_params(google_material)['publishedDate'] %>
                    <%= hidden_field_tag 'material[info_link]', google_material_params(google_material)['infoLink'] %>
                    <%= hidden_field_tag 'material[image_link]', google_material_params(google_material)['image'] %>
                    <%= hidden_field_tag 'material[systemid]', google_material_params(google_material)['systemid'] %>
                    <%= hidden_field_tag 'material[publisher]', google_material_params(google_material)['publisher'] %>
                    <%= hidden_field_tag 'material[description]', google_material_params(google_material)['description'] %>
                    <div class="mt-10px">
                      <%= f.submit '選択', class: "bg-pale-blue hover:bg-dark-blue w-full text-xl text-white font-bold rounded-md", style: "width:100px; height:38px;" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>