<% content_for(:title, t('.title')) %>
<div class="flex flex-row w-full">
  <%= render 'profile/sidebar' %>
  <div class="flex flex-col mt-30px">
    <h2 class="text-3xl font-bold"><%= t('.title') %></h3>
    <div class="mt-5px border-2 border-gray rounded-md" style="width: 600px;">
      <div class="m-30px flex flex-col">
        <div class="flex items-center mb-20px ml-20px">
          <div class="flex justify-start items-center">
            <div><%= link_to image_tag(current_user.image_url, class:"h-20 w-20 rounded-full"), '#' %></div>
            <div class="text-28px ml-50px"><%= current_user.name %></div>
          </div>
          <div class="flex items-center ml-auto mr-20px">
            <!-- 編集アイコン -->
            <%= link_to edit_profile_user_path, class: 'flex justify-center items-center bg-thin-orange hover:bg-dark-orange h-7 w-7 rounded-full' do %>
              <i class="fa-sharp fa-solid fa-pencil fa-lg"></i>
            <% end %>
          </div>
        </div>
        <div class="border-y-2 border-gray py-20px pl-20px flex flex-col">
          <div class="text-base mb-5px font-bold"><%= t('.email') %></div>
          <div class="text-base"><%= current_user.email %></div>
        </div>
        <div class="pt-20px ml-20px flex flex-col">
          <div class="text-base mb-5px font-bold"><%= t('.introduction') %></div>
          <div class="text-base">
            <%= current_user.introduction.present? ? current_user.introduction : "未記入" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

