<div class="min-w-200px min-h-600px border-2 border-gray rounded-md m-20px pt-25px">
  <%= link_to profile_user_path, class: "block mx-25px p-15px font-bold hover:bg-pale-orange rounded-md" do %>
    <div class="text-20px", style="width:120px;"><%= t('profile.user') %></div>
  <% end %> 
  <%= link_to qualifications_path, class: "block mx-25px p-15px font-bold hover:bg-pale-orange rounded-md" do %>
    <div class="text-20px"><%= t('profile.qualification') %></div>
  <% end %>
  <%= link_to already_registered_materials_path, class: "block mx-25px p-15px font-bold hover:bg-pale-orange rounded-md" do %>
    <div class="text-20px"><%= t('profile.material') %></div>
  <% end %>
</div>