<% content_for(:title, t('.title')) %>
<div class="flex justify-center">
  <div class="w-full max-w-md mb-100px ">
    <h2 class="text-3xl my-30px text-center font-bold"><%= t('.title') %></h2>
    <%= form_with model: @user, url: login_path, local: true do |f| %>
      <div class= "mb-20px flex flex-col " >
        <%= f.label :email, class: "font-bold" %>
        <%= f.email_field :email, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4" %>
      </div>
      <div class= "mb-20px flex flex-col " >
        <%= f.label :password, class: "font-bold" %>
        <%= f.password_field :password, class: "input input-bordered input-warning input-sm w-full m-0 py-0 pr-0 pl-4" %>
      </div>
      <div class="flex justify-center mb-20px">
      <%= f.submit t('helpers.submit.login'), class: "bg-pale-blue hover:bg-dark-blue w-full text-xl text-white font-bold rounded-md", style: "width:200px; height:38px;" %>
      </div>
    <% end %>
    <div class="flex justify-center mb-50px">
      <%= link_to t('.to_register_page'), new_user_path, class: "text-lg text-dark-green underline underline-offset-4" %>
    </div>
    
    <div class="flex items-center mb-20px space-x-40px">
      <div class="flex-1 border-b"></div>
      <span>その他でログイン</span>
      <div class="flex-1 border-b"></div>
    </div>
    
    <!-- ゲストログイン -->
    <div class="flex flex-col items-center space-x-1">
      <p class="text-center mb-5px">ゲストユーザーとしてログインする</p>
      <%= button_to 'ゲストログイン', guest_login_path, class: "bg-thin-orange hover:bg-pale-orange w-full text-xl text-white font-bold rounded-md", style: "width:200px; height:38px" %>
    </div>
  </div>
</div>
